@tailwind base;
@tailwind components;
@tailwind utilities;

/* Screen reader only content */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-background-500 bg-opacity-15 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-background-500 rounded-full transition-colors hover:bg-background-400;
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #414143 #202021;
}


.marked-lg a {
  @apply text-primary font-medium text-base;
}

.marked-lg a:hover {
  @apply text-primary underline;
}

.marked-lg code {
  @apply bg-background-400 px-1 rounded-md text-sm italic;
}

.marked-lg pre {
  @apply bg-background-400 px-4 py-2 rounded-md text-sm;
}

.marked-lg pre code {
  @apply bg-gray-100 px-1 rounded-md text-sm;
}

.marked-lg h1 {
  @apply text-2xl font-bold;
}

.marked-lg h2 {
  @apply text-xl font-bold;
}

.marked-lg h3 {
  @apply text-lg font-bold;
}

.marked-lg h4, h5, h6 {
  @apply text-base font-bold;
}

.marked-lg p {
  @apply text-base;
}

.marked-lg li {
  @apply text-base;
}

.marked-sm a {
  @apply text-primary font-medium text-sm;
}

.marked-sm a:hover {
  @apply text-primary underline;
}

.marked-sm code {
  @apply bg-background-400 px-1 rounded-md text-xs italic;
}

.marked-sm pre {
  @apply bg-background-400 px-4 py-2 rounded-md text-sm;
}

.marked-sm pre code {
  @apply bg-gray-100 px-1 rounded-md text-sm;
}

.marked-sm h1 {
  @apply text-lg font-bold;
}

.marked-sm h2 {
  @apply text-base font-bold;
}

.marked-sm h3 {
  @apply text-sm font-bold;
}

.marked-sm h4, h5, h6 {
  @apply text-sm font-bold;
}

.marked-sm p {
  @apply text-sm;
}

.marked-sm li {
  @apply text-sm;
}


.marked-xs a {
  @apply text-primary font-medium text-xs;
}

.marked-xs a:hover {
  @apply text-primary underline;
}

.marked-xs code {
  @apply bg-background-400 px-1 rounded-md text-xs italic;
}

.marked-xs pre {
  @apply bg-background-400 px-4 py-2 rounded-md text-xs;
}

.marked-xs pre code {
  @apply bg-gray-100 px-1 rounded-md text-xs;
}

.marked-xs h1 {
  @apply text-base font-bold;
}

.marked-xs h2 {
  @apply text-sm font-bold;
}

.marked-xs h3 {
  @apply text-xs font-bold;
}

.marked-xs h4, h5, h6 {
  @apply text-xs font-bold;
}

.marked-xs p {
  @apply text-xs;
}

.marked-xs li {
  @apply text-xs;
}

.marked-xxs a {
  @apply text-primary font-medium text-xxs;
}

.marked-xxs a:hover {
  @apply text-primary underline;
}

.marked-xxs code {
  @apply bg-background-400 px-1 rounded-md text-xxs italic;
}

.marked-xxs pre {
  @apply bg-background-400 px-4 py-2 rounded-md text-xs;
}

.marked-xxs pre code {
  @apply bg-gray-100 px-1 rounded-md text-xxs;
}

.marked-xxs h1 {
  @apply text-sm font-bold;
}

.marked-xxs h2 {
  @apply text-xs font-bold;
}

.marked-xxs h3 {
  @apply text-xxs font-bold;
}

.marked-xxs h4, h5, h6 {
  @apply text-xxs font-bold;
}

.marked-xxs p {
  @apply text-xxs;
}

.marked-xxs li {
  @apply text-xxs;
}
